h1 {
  font-size: 2em;
  color: black;
}

h2 {
  font-size: 1em;
  color: black;
  font-style: italic;
}

h3 {
  color: black;
  font-size: 1em;

}

h4 {
  color: black;
  font-size: .5em;


}

.cart {
  /*height: 90%;*/
}

.header {
  display: flex;
  justify-content: space-between;
  outline-color: black;
  outline-style: inset;
  outline-width: thin;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.leftVRight {
  display: flex;
  flex-direction: row;

}

.leftHeader {
  background-color: grey;
}

.left {
  display: flex;
  flex-direction: column;

  width: 20%;
  height: auto;
  outline-color: black;
  outline-style: inset;
  outline-width: thin;
}

.right {
  display: flex;
  flex-direction: column;
  width: 75%;
  height: 100%;
  margin-left: 30px;
}

.stripes {
  display: flex;
  flex-direction: column;
}

.item {
 display: inline-flex;
 margin: 10px;
}

.space {
  width: 4em;
  margin: 10px 10px 10px 10px;
}

.cartB {
  margin-left: .5em;
}
